{#
/**
 * @file
 * Sourcepoint v2 Config.
 *
 * Available variables:
 * - account_id: Account ID
 * - base_endpoint: baseEndpoint
 */
#}
window._sp_ = {
  config: {
{% if account_id %}
    accountId: {{ account_id }},
{% endif %}
{% if base_endpoint %}
    baseEndpoint: '{{ base_endpoint }}',
{% endif %}
  }
}
