{#
/**
 * @file
 * Sourcepoint Bootstrap.
 *
 * Available variables:
 * - account_id: Account ID
 * - bootstrap_path: Path to bootstrap JS for inclusion.
 * - cmp_enabled: Flag to enable CMP
 * - content_control_url: Content Control URL
 * - dtm_timeout: Detection Timeout
 * - mms_domain: MMS Domain
 * - msg_url: Messaging JS URL
 * - rid_enabled: Flag to enable RID
 * - style_manager_enabled: Flag to enable style manager
 */
#}
{{ source(bootstrap_path) }}
window._sp_ = window._sp_ || {};
window._sp_.config = window._sp_.config || {};
window._sp_.mms = window._sp_.mms || {};
window._sp_.mms.cmd = window._sp_.mms.cmd || [];
{% if account_id %}
    window._sp_.config.account_id = {{ account_id }};
{% endif %}
{% if mms_domain %}
    window._sp_.config.mms_domain = '{{ mms_domain }}';
{% endif %}
{% if rid_enabled %}
    window._sp_.config.enable_rid = true;
    {% if content_control_url %}
        window._sp_.config.content_control_callback = function() { window.location.href = '{{ content_control_url }}'; };
    {% endif %}
{% else %}
    window._sp_.config.enable_rid = false;
{% endif %}
{% if style_manager_enabled %}
    window._sp_.config.styleManager = {};
    window._sp_.config.styleManager.enableSimple = true;
{% endif %}
{% if cmp_enabled %}
    window._sp_.config.cmp = _sp_.config.cmp || {};
    window._sp_.config.cmp.enabled = true;
{% else %}
    window._sp_.config.cmp.enabled = false;
{% endif %}
{% if dtm_enabled %}
    window._sp_.config.detection = _sp_.config.detection || {};
    window._sp_.config.detection.timeout = {{ dtm_timeout }};
{% endif %}
{% if msg_url %}
    window._sp_.bootstrap('{{ msg_url }}');
    window._sp_.mms.cmd.push(function(){ window._sp_.mms.startMsg(); });
{% endif %}
